<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Havanas</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
          <a href="index.html">Havanas</a>
        </div>
        <div class="header-links">
          <div class="dropdown">
            <button class="dropbtn">Catagories</button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
          <a href="signin.html">Sign-In</a>
          <a href="cart.html">Cart</a>
        </div>
      </header>
      <main class="main">
        <h2>Featured Products</h2>
        <div class="content">
          <ul class="products">
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="./images/acid-blondie_6.png"
                  alt="product"
                />
                <div class="product-name">
                  <a href="product.html">ACID Blondie</a>
                </div>
                <div class="product-brand">ACID Cigars</div>
                <div class="product-price">$20</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="./images/acid-blondie_6.png"
                  alt="product"
                />
                <div class="product-name">
                  <a href="product.html">ACID Blondie</a>
                </div>
                <div class="product-brand">ACID Cigars</div>
                <div class="product-price">$20</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="./images/acid-blondie_6.png"
                  alt="product"
                />
                <div class="product-name">
                  <a href="product.html">ACID Blondie</a>
                </div>
                <div class="product-brand">ACID Cigars</div>
                <div class="product-price">$20</div>
              </div>
            </li>
          </ul>
        </div>
      </main>
      <footer class="footer">
        All rights reserved
      </footer>
    </div>
  </body>
</html>
