<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Havanas</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
          <a href="index.html">Havanas</a>
        </div>
        <div class="header-links">
          <a href="signin.html">Sign-In</a>
          <a href="cart.html">Cart</a>
        </div>
      </header>
      <main class="main">
        <div class="content">
          <ul class="products">
            <li>
              <div class="product">
                <img src="./images/acid-blondie_6.png" alt="product" />
                <div class="product-name">ACID Blondie</div>
                <div class="product-brand">ACID Cigars</div>
                <div class="price">$20</div>
              </div>
            </li>
          </ul>
        </div>
      </main>
      <footer class="footer">
        All rights reserved
      </footer>
    </div>
  </body>
</html>
